body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

#page_wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
}

#main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#main-nav ul li {
  display: inline-block;
  margin-right: 15px;
}

#main-nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#content-wrapper {
  padding: 20px;
}

#main_content {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#map {
    height: 50rem;
    width: 75%;
    align-items: center;
    margin: auto;
}

@media screen and (min-width: 600px) {

  body {
    font-size: 17px;
  }

  #main-nav ul li {
    margin-right: 25px;
  }

  img {
    max-width: 500px;
  }
}

@media screen and (min-width: 900px) {

  #content-wrapper {
    display: flex;
    gap: 20px;
  }

  #main_content {
    width: 70%;
  }

  img {
    max-width: 600px;
  }
}
